.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 233);
  --md-sys-color-surface-tint: rgb(255 180 168);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 174 162);
  --md-sys-color-on-primary-container: rgb(34 0 0);
  --md-sys-color-secondary: rgb(255 236 233);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(255 174 162);
  --md-sys-color-on-secondary-container: rgb(34 0 0);
  --md-sys-color-tertiary: rgb(255 236 233);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(255 174 162);
  --md-sys-color-on-tertiary-container: rgb(34 0 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 162);
  --md-sys-color-on-error-container: rgb(34 0 0);
  --md-sys-color-background: rgb(26 17 16);
  --md-sys-color-on-background: rgb(241 223 220);
  --md-sys-color-surface: rgb(16 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(234 241 247);
  --md-sys-color-outline-variant: rgb(189 195 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(116 53 44);
  --md-sys-color-primary-fixed: rgb(255 218 212);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-primary-fixed-variant: rgb(44 1 1);
  --md-sys-color-secondary-fixed: rgb(255 218 212);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-secondary-fixed-variant: rgb(44 1 1);
  --md-sys-color-tertiary-fixed: rgb(255 218 212);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-tertiary-fixed-variant: rgb(44 1 1);
  --md-sys-color-surface-dim: rgb(16 20 23);
  --md-sys-color-surface-bright: rgb(76 81 84);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 32 36);
  --md-sys-color-surface-container: rgb(45 49 53);
  --md-sys-color-surface-container-high: rgb(56 60 64);
  --md-sys-color-surface-container-highest: rgb(67 71 75);
}
