.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 210 203);
  --md-sys-color-surface-tint: rgb(255 180 168);
  --md-sys-color-on-primary: rgb(72 20 13);
  --md-sys-color-primary-container: rgb(204 123 111);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 210 203);
  --md-sys-color-on-secondary: rgb(72 20 13);
  --md-sys-color-secondary-container: rgb(204 123 111);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 210 203);
  --md-sys-color-on-tertiary: rgb(72 20 13);
  --md-sys-color-tertiary-container: rgb(204 123 111);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 203);
  --md-sys-color-on-error: rgb(72 20 13);
  --md-sys-color-error-container: rgb(204 123 111);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 16);
  --md-sys-color-on-background: rgb(241 223 220);
  --md-sys-color-surface: rgb(16 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(215 221 228);
  --md-sys-color-outline: rgb(172 179 185);
  --md-sys-color-outline-variant: rgb(138 145 151);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(38 43 46);
  --md-sys-color-inverse-primary: rgb(116 53 44);
  --md-sys-color-primary-fixed: rgb(255 218 212);
  --md-sys-color-on-primary-fixed: rgb(44 1 1);
  --md-sys-color-primary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-primary-fixed-variant: rgb(94 36 28);
  --md-sys-color-secondary-fixed: rgb(255 218 212);
  --md-sys-color-on-secondary-fixed: rgb(44 1 1);
  --md-sys-color-secondary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-secondary-fixed-variant: rgb(94 36 28);
  --md-sys-color-tertiary-fixed: rgb(255 218 212);
  --md-sys-color-on-tertiary-fixed: rgb(44 1 1);
  --md-sys-color-tertiary-fixed-dim: rgb(255 180 168);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 36 28);
  --md-sys-color-surface-dim: rgb(16 20 23);
  --md-sys-color-surface-bright: rgb(65 69 73);
  --md-sys-color-surface-container-lowest: rgb(4 8 11);
  --md-sys-color-surface-container-low: rgb(26 30 34);
  --md-sys-color-surface-container: rgb(36 40 44);
  --md-sys-color-surface-container-high: rgb(47 51 55);
  --md-sys-color-surface-container-highest: rgb(58 62 66);
}
