@use '@angular/material' as mat;
@use '../../palette/pink/pink-palette' as *;

$my-pink-palette: mat.m2-define-palette((
  50: #ffe5e3,
  100: #ffbab6,
  200: #ff8c86,
  300: #ff5e56,
  400: #ff3e36,
  500: $color-main__100__pink, // Main primary color
  600: #e92d1f,
  700: #d0261a,
  800: #b72016,
  900: #8d140d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
));

$my-pink-accent: mat.m2-define-palette((
  50: #ffeede,
  100: #ffd6ad,
  200: #ffbb7a,
  300: #ffa047,
  400: #ff8a22,
  500: #ff7d0a, // Main accent color
  600: #e87209,
  700: #cf6607,
  800: #b65a06,
  900: #8d4504,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
));

$my-pink-warn: mat.m2-define-palette((
  50: #ffe5e5,
  100: #ffb8b8,
  200: #ff8989,
  300: #ff5a5a,
  400: #ff3737,
  500: #ff2222, // Main warn color
  600: #e91f1f,
  700: #d11b1b,
  800: #ba1818,
  900: #960f0f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
));

$pink-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-pink-palette,
    accent: $my-pink-accent,
    warn: $my-pink-warn,
  )
));

@mixin setTheme() {
  @include mat.all-component-themes($pink-theme);
  html, body {
    --mat-menu-container-color: #{$surface-lvl-1__100__pink};
    --mdc-filled-button-container-color: #{$color-main__100__pink};
    --mdc-filled-button-label-text-color: #{$color-text-button-initial__100__pink}
  }
}
