:host {
  display: block;
  width: auto;
  height: auto;

  &.ng-invalid.ng-touched {
    ::ng-deep {
      .app-text-input-icon {
        color: var(--color-main__50);
      }
    }

    .app-text-input-wrapper {
      border: 2px solid var(--color-main__50);
    }
  }
}

.app-text-input-wrapper {
  box-sizing: border-box;
  padding: 0 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  border: 2px solid var(--navbar-first-color);
}

::ng-deep.app-text-input {
  input {
    font-size: 12px;
    border-radius: var(--border-radius);
    &::placeholder {
      font-size: 12px;
      color: var(--color-label-initial__100);
    }
  }

  .mdc-line-ripple {
    display: none;
  }

  .mat-mdc-form-field-bottom-align {
    display: none;
  }
}

mat-label {
  font-size: 14px;
}
