<header class="header">
  <div class="header__server-info">
    <div class="header__server-info__info">
      <p>12000</p>
      <label>მოთამაშე</label>
    </div>
    <div class="header__server-info__info">
      <p>58</p>
      <label>სერვერზე</label>
    </div>
    <div class="header__server-info__info">
      <p>5 C</p>
      <label>ამინდი</label>
    </div>
  </div>

  <div class="header__logo">
    <div class="header__logo__text">10GGO</div>
  </div>

  <div class="header__actions">
    <div class="header__actions__action">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </div>
</header>
