<header class="header">
  <div class="header__server-info">
    <div class="header__server-info__info">
      <p>2</p>
      <label>სერვერები</label>
    </div>
    <div class="header__server-info__info">
      <p>10000</p>
      <label>მოთამაშეები</label>
    </div>
    <div class="header__server-info__info">
      <p>{{getPlayersInfo()?.totalPlayersCount}}</p>
      <label>სერვერზე</label>
    </div>
  </div>

  <div class="header__logo">
    <div class="header__logo__text">10GGO</div>
  </div>

  <div class="header__actions">
    <div class="header__actions__action">
        <ng-container *ngTemplateOutlet="themeChangeTemplate"></ng-container>
    </div>
    <div class="header__actions__action">
        <button mat-flat-button>
          <mat-icon>login</mat-icon>
          <p>ავტორიზაცია</p>
        </button>
    </div>
  </div>
</header>

<ng-template #themeChangeTemplate>
  <button id="palette-menu-btn" mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="palette-icon menu-icon">palette</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="palette-menu">
    <button mat-menu-item (click)="setTheme(ThemeEnum.red)">
      <mat-icon class="palette-icon red">palette</mat-icon>
    </button>
    <button mat-menu-item (click)="setTheme(ThemeEnum.green)">
      <mat-icon class="palette-icon green">palette</mat-icon>
    </button>
    <button mat-menu-item (click)="setTheme(ThemeEnum.blue)">
      <mat-icon class="palette-icon blue">palette</mat-icon>
    </button>
    <button mat-menu-item (click)="setTheme(ThemeEnum.yellow)">
      <mat-icon class="palette-icon yellow">palette</mat-icon>
    </button>
    <button mat-menu-item (click)="setTheme(ThemeEnum.pink)">
      <mat-icon class="palette-icon pink">palette</mat-icon>
    </button>
  </mat-menu>
</ng-template>
