.header {
  padding: 0 100px;
  background-color: var(--header-background);
  height: 65px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  &__server-info {
    display: flex;
    align-items: center;
    gap: 40px;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    justify-self: center;
    &__text {
      font-size: 30px;
      letter-spacing: 5px;
      font-weight: 900;
      color: var(--color-main__100);
    }
  }

  &__actions {
    justify-self: end;
  }

  p {
    color: var(--color-main__100);
    font-size: 12px;
  }

  label {
    color: var(--color-label-initial__100);
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}
