<header class="header">
  <div class="header__server-info">
    <div class="header__server-info__info">
      <p>12000</p>
      <label>მოთამაშე</label>
    </div>
    <div class="header__server-info__info">
      <p>58</p>
      <label>სერვერზე</label>
    </div>
    <div class="header__server-info__info">
      <p>5 C</p>
      <label>ამინდი</label>
    </div>
  </div>

  <div class="header__logo">
    <div class="header__logo__text">10GGO</div>
  </div>

  <div class="header__actions">
    <div class="header__actions__action">
      <button id="palette-menu-btn" mat-button [matMenuTriggerFor]="menu">
        <mat-icon class="palette-icon red menu-icon">palette</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="palette-menu">
        <button mat-menu-item>
          <mat-icon class="palette-icon green">palette</mat-icon>
        </button>
        <button mat-menu-item>
          <mat-icon class="palette-icon blue">palette</mat-icon>
        </button>
        <button mat-menu-item>
          <mat-icon class="palette-icon yellow">palette</mat-icon>
        </button>
        <button mat-menu-item>
          <mat-icon class="palette-icon pink">palette</mat-icon>
        </button>
      </mat-menu>
    </div>
  </div>
</header>
