@use "sass:map";
@import "../palette/light/light-palette";
@import "../palette/dark/red-palette";


$theme-map: (
  "light": (
    --surface-lvl-0__100: $surface-lvl-0__100__light,
    --header-background: $header-background__light
  ),
  "red": (
    --surface-lvl-0__100: $surface-lvl-0__100__dark,
    --header-background: $header-background__dark
  )
);

:root {
  @each $key, $value in map.get($theme-map, "light") {
    #{$key}: $value;
  }
}

[data-theme="light"] {
  @each $key, $value in map.get($theme-map, "light") {
    & {
      #{$key}: $value;
    }
  }
}

[data-theme="red"] {
  @each $key, $value in map.get($theme-map, "red") {
    & {
      #{$key}: $value;
    }
  }
}

.mat-mdc-menu-panel {
  & {
    background-color: var(--color-background-surface-lvl-2__100) !important;
  }

  .mat-mdc-menu-item {
    & {
      color: var(--color-text-surface-lvl-1__100) !important;
    }

    .mat-mdc-menu-item-text {
      & {
        font-family: FiraUPPB, sans-serif !important;
      }
    }
  }
}
