.auth-actions {
  display: grid;
  grid-row-gap: 8px;
  grid-template-rows: auto auto;

  &--label-row {
    color: var(--color-label-initial__100);
  }

  &--actions-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

    .warning {
      padding: 15px;
      min-height: 40px;
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      width: 100%;
      height: 100%;
      background: var(--warning-background);
      color: var(--color-text-default__100);
      font-size: 12px;
      font-weight: 900;
      box-shadow: 0 0 10px rgb(0 0 0 / 50%);

      mat-icon {
        color: var(--color_warn__100)
      }

      span {
        color: var(--color-main__100)
      }
    }

    .action {
      display: flex;
      align-items: center;
      gap: 8px;

      &--box {
        padding: 5px;
        background-color: var(--color-label-initial__100);

        width: 30px;
        height: 30px;
        border-radius:  var(--border-radius);
        cursor: pointer;
      }
    }
  }
}
