<div class="auth-actions">

  <div class="auth-actions--label-row">
    <label>სხვა მეთოდი</label>
  </div>

  <div class="auth-actions--actions-row">
    <div class="action action--left">
      <button class="action--box">
        <img ngSrc="assets/svgs/steam.svg" alt="steam" width="16" height="16">
      </button>
      <button class="action--box">
        <img ngSrc="assets/svgs/discord.svg" alt="steam" width="16" height="16">
      </button>
    </div>
    <div class="action action--right">
      <button mat-flat-button>შესვლა</button>
    </div>
  </div>

  <div class="auth-actions--actions-row">
    <div class="warning">
      <mat-icon>warning</mat-icon>
      <p>თუ პირველად ხართ საიტზე, ავტორიზაცია ხდება მხოლოდ <span>STEAM</span>-ით!</p>
    </div>
  </div>

</div>
