$surface-lvl-0__100__light: #101112;

$header-background__light: #131415;

$color-main__100__light: #ff3222;
$color-main-green__100__light: #2bcd24;
$color-main-blue__100__light: #0077ff;
$color-main-pink__100__light: #ff76ff;
$color-main-yellow__100__light: #ffce2f;

$color-label-initial__100__light: #ffffff80;
