/* You can add global styles to this file, and also import other style files */
@use "styles/theming/theme" as *;

body {
  background-color: var(--surface-lvl-0__100);
}

html, body { height: 100%; }
body { margin: 0; font-family: 'NotoSansGeorgian', sans-serif; }

:root {
  --border-radius: 4px;
}
